<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>

<div>
  <form method="POST" enctype="multipart/form-data" action="/students/">
    <table>
      <tr>
        <td>CSV file to upload:</td>
        <td><input type="file" name="file" required/></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Upload"/></td>
      </tr>
    </table>
  </form>
</div>

<div th:if="${not #lists.isEmpty(students)}">
  <h3>Students list:</h3>
  <ul>
    <li th:each="student : ${students}">
      <span th:text="${student}"/>
    </li>
  </ul>
</div>

</body>
</html>
